---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Ignacio Ortiz";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/finn_pixel.gif"/>
    </div>
    <h1>Ignacio Ortiz</h1>
    <small>FullStack Developer</small>
    <h2>Acerca de mi</h2>
    <p>
        Técnico Analista en Sistemas y Web Developer. Me considero un apasionado por las finanzas y las tecnologías de programación de vanguardia, mi enfoque principal es aprender constantemente y mantenerme actualizado en ambos campos para aplicar mis habilidades en proyectos desafiantes.
    </p>
    <p>
        Además, en mi tiempo libre, practico fútbol y pádel. Estos deportes no solo me brindan entretenimiento y diversión, sino que también me ayudan a equilibrar mi vida profesional con actividades que disfruto plenamente.
    </p>
    <div class="button">
        <a href="/works/">
            <button>Mis proyectos</button>
        </a>
    </div>
    <h2>Habilidades</h2>
    <div class="link-images">
        <img width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg"/>
        <img width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg"/>
        <img width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"/>
        <img width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg"/>
        <img width="46" height="46" alt="Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg"/>
        <img width="46" height="46" alt="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
        <img width="46" height="46" alt="Next" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg"/>
        <img width="46" height="46" alt="NodeJS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-plain.svg"/>
        <img width="46" height="46" alt="Nest" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg"/>
        <img width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-plain.svg"/>



    </div>
</Layout>
<style>
    /* h1 */
    h1 {
        margin-bottom: 0.1em;
    }
    /* small */
    small {
        background-color: #584966;
        color: #eac195;
        border-radius: 6px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
    }

    /* Button */
    button {
        background: rgba(0,0,0,0);
        border: 2px solid #375a7f;
        border-radius: 8px;
        color: #375a7f;
        font: 600 16px 'Quicksand', sans-serif;
        padding: 8px 16px;
        transition: background-color 0.4s, color 0.4s;
    }

    button:hover {
        background-color: #375a7f;
        color: #eac195;
        cursor: pointer;
    }

    .button {
        text-align: center;
    }

    /* Skill images */
    .link-images img {
        margin: 16px 4px;
    }

    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }
    }
</style>
