---
const year = new Date().getFullYear();
---
<footer>
    <div>
        <small>&copy; {year} Ignacio Ortiz by <a href="https://github.com/ignacioaortiz" target="_blank">ignacioaortiz</a>. All Rights Reserved.</small>
    </div>
</footer>
<style>
    div {
        margin: 4rem 0;
        text-align: center;
    }

    small {
        font-family: 'Quicksand', sans-serif; 
    }

    small a {
        color: #5F758E;
        text-decoration: none;
    }
</style>
